<div class="container">
  <div class="row">
    <div class="md-col-12">
      <h2>Have a Go Hero Maths!</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12" [ngClass]="{'settings': show }">
      <p style="margin-top: 10px; margin-left: 16px;"><button (click)="toggle()" class="btn btn-warning btn-sm">Settings</button> <button (click)="restart()" class="btn btn-warning btn-sm">Restart</button></p>
      <div *ngIf="show===true">
        <div>
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-4">
                <h3>Operators:</h3>
              </div>
              <div class="col-md-4">
                <h3>First Number:</h3>
              </div>
              <div class="col-md-4 ">
                <h3>Second Number:</h3>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4 ">

              </div>
              <div class="col-md-2 ">
                <h4>Minimum</h4>
              </div>
              <div class="col-md-2 ">
                <h4>Maximum</h4>
              </div>
              <div class="col-md-2 ">
                <h4>Minimum</h4>
              </div>
              <div class="col-md-2 ">
                <h4>Maximum</h4>
              </div>
            </div>

            <div class="row">
              <div class="col-md-4">
                <p><input [(ngModel)]="addition" type="checkbox" /> <i class="fa fa-plus"></i> addition</p>
              </div>
              <div class="col-md-2 ">
                <input class="form-control " type="number" placeholder="3" style="width:100px; height:25px; font-size:20px;" [value]="addmin1" (input)="addmin1 = $event.target.value" [disabled]="!addition" />
              </div>
              <div class="col-md-2">
                <input class="form-control " type="number" style="width:100px; height:25px; font-size:20px;" [value]="addmax1" (input)="addmax1 = $event.target.value" [disabled]="!addition" />
              </div>
              <div class="col-md-2">
                <input class="form-control " type="number" style="width:100px; height:25px; font-size:20px;" [value]="addmin2" (input)="addmin2 = $event.target.value" [disabled]="!addition" />
              </div>
              <div class="col-md-2">
                <input class="form-control " type="number" style="width:100px; height:25px; font-size:20px;" [value]="addmax2" (input)="addmax2 = $event.target.value" [disabled]="!addition" />
              </div>
            </div>

            <div class="row">
              <div class="col-md-2">
                <p><input [(ngModel)]="subtraction" type="checkbox" /> <i class="fa fa-minus"></i> subtraction</p>
              </div>
              <div class="col-md-2" style="text-align:left;">
                <input [(ngModel)]="negativeanswers" type="checkbox" [disabled]="!subtraction" />disallow negative answers
              </div>
              <div class="col-md-2 ">
                <input class="form-control " type="number" style="width:100px; height:25px; font-size:20px;" [value]="submin1" (input)="submin1 = $event.target.value" [disabled]="!subtraction" />
              </div>
              <div class="col-md-2">
                <input class="form-control " type="number" style="width:100px; height:25px; font-size:20px;" [value]="submax1" (input)="submax1 = $event.target.value" [disabled]="!subtraction" />
              </div>
              <div class="col-md-2">
                <input class="form-control " type="number" style="width:100px; height:25px; font-size:20px;" [value]="submin2" (input)="submin2 = $event.target.value" [disabled]="!subtraction" />
              </div>
              <div class="col-md-2">
                <input class="form-control " type="number" style="width:100px; height:25px; font-size:20px;" [value]="submax2" (input)="submax2 = $event.target.value" [disabled]="!subtraction" />
              </div>
            </div>

            <div class="row">
              <div class="col-md-4">
                <p><input [(ngModel)]="multiplication" type="checkbox" /> <i class="fa fa-times"></i> multiplication</p>
              </div>
              <div class="col-md-2 ">
                <input class="form-control " type="number" style="width:100px; height:25px; font-size:20px;" [value]="multmin1" (input)="multmin1 = $event.target.value" [disabled]="!multiplication" />
              </div>
              <div class="col-md-2">
                <input class="form-control " type="number" style="width:100px; height:25px; font-size:20px;" [value]="multmax1" (input)="multmax1 = $event.target.value" [disabled]="!multiplication" />
              </div>
              <div class="col-md-2">
                <input class="form-control " type="number" style="width:100px; height:25px; font-size:20px;" [value]="multmin2" (input)="multmin2 = $event.target.value" [disabled]="!multiplication" />
              </div>
              <div class="col-md-2">
                <input class="form-control " type="number" style="width:100px; height:25px; font-size:20px;" [value]="multmax2" (input)="multmax2 = $event.target.value" [disabled]="!multiplication" />
              </div>
            </div>

            <div class="row">
              <div class="col-md-4">
                <p><input [(ngModel)]="division" type="checkbox" /> <strong>&#247;</strong> division</p>
              </div>
              <div class="col-md-2 ">
                <input class="form-control " type="number" style="width:100px; height:25px; font-size:20px;" [value]="divmin1" (input)="divmin1 = $event.target.value" [disabled]="!division" />
              </div>
              <div class="col-md-2">
                <input class="form-control " type="number" style="width:100px; height:25px; font-size:20px;" [value]="divmax1" (input)="divmax1 = $event.target.value" [disabled]="!division" />
              </div>
              <div class="col-md-2">
                <input class="form-control " type="number" style="width:100px; height:25px; font-size:20px;" [value]="divmin2" (input)="divmin2 = $event.target.value" [disabled]="!division" />
              </div>
              <div class="col-md-2">
                <input class="form-control " type="number" style="width:100px; height:25px; font-size:20px;" [value]="divmax2" (input)="divmax2 = $event.target.value" [disabled]="!division" />
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <p><button (click)="makeadd()" class="btn btn-warning btn-sm">Submit</button></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row" style="margin-top:10px;">
    <div class="col-md-3" style="text-align:right">
      <font size="10"><span class="question">{{ num1 }}</span>
        <span *ngIf="op=='/';else checksymboldiv;">
          &#247;
        </span> {{ num2 }} =
        <ng-template #checksymboldiv><span *ngIf="op==='*';else checksymbolmult;">&#215;</span></ng-template>
        <ng-template #checksymbolmult>{{op}}</ng-template>
      </font>
    </div>
    <div class="col-md-2" style="text-align:left">
      <input class="form-control form-rounded" type="number" style="width:200px; height:50px; font-size:40px; margin-top: 10px;" [value]="answer" (input)="answer = $event.target.value" [autofocus]/>
    </div>

    <div class="col-md-2">
      <button (click)="check()" class="btn btn-primary btn-lg" style="margin-top:10px; margin-left: 10px;">Check</button>
    </div>

    <div class="col-md-4">

      <div class="row" *ngIf="total>0">
        <div class="col-md-12 alert alert-warning" *ngIf="result===false" style="text-align:center;">
          <!-- <div *ngFor="let item of problems; let i = index" class="row" style="font-size:30px;"> -->
          <div *ngFor="let item of problems; let last = last">
            <div *ngIf="last">
              <font size="5" color="black">{{item.num1}}
                <span *ngIf="item.op==='/';else checksymboldiv;">&#247;</span> {{item.num2}} &ne; {{item.answer}} <i class="fa wrong fa-times" aria-hidden="true"></i>
                <ng-template #checksymboldiv><span *ngIf="item.op==='*';else checksymbolmult;">&#215;</span></ng-template>
                <ng-template #checksymbolmult>{{item.op}}</ng-template>
                <div style="color:silver;">
                  The correct solution is:
                </div>
                <div style="color:silver;">
                  {{ item.num1 }} <span *ngIf="item.op==='/';else checksymboldiv;">&#247;</span> {{item.num2 }} = {{ item.solution }}
                </div>
                <div>
                  Have another go!
                </div>
              </font>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="row" *ngIf="result===true">
          <div class="col-md-12 alert alert-warning" style="text-align:center;">
            <div *ngFor="let item of problems; let last = last">
              <div *ngIf="last">
                <font size="5" color="black">{{item.num1}}
                  <span *ngIf="item.op==='/';else checksymboldiv;">&#247;</span> {{item.num2}} = {{item.answer}} <i class="fa correct fa-check" aria-hidden="true"></i>
                  <ng-template #checksymboldiv><span *ngIf="item.op==='*';else checksymbolmult;">&#215;</span></ng-template>
                  <ng-template #checksymbolmult>{{item.op}}</ng-template>
                  <div style="color:green;">Well done!</div>
                </font>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-primary" *ngIf="total>0">
            <div class="panel panel-heading">
              Your Answers:
            </div>
            <div class="panel panel-body" style="height: 300px; overflow:auto;">
              <font size="4">
                <div *ngFor="let item of problems; let i = index" class="row">
                  <div class="row">
                    <div class="col-md-1" style="text-align:right;">
                      {{i+1}}.
                    </div>
                    <div class="col-md-11">
                      <div style="text-align:left;">
                        {{item.num1}} <span *ngIf="item.op==='/';else checksymboldiv;">&#247;</span>
                        <ng-template #checksymboldiv><span *ngIf="item.op==='*';else checksymbolmult;">&#215;</span></ng-template>
                        <ng-template #checksymbolmult>{{item.op}}</ng-template>
                        <span *ngIf="item.result===true"> {{item.num2}} = {{item.answer}} <i class="fa correct fa-check" aria-hidden="true"></i></span>
                        <span *ngIf="item.result===false">{{item.num2}} &ne; {{item.answer}} <i class="fa wrong fa-times" aria-hidden="true"></i></span>
                        <div style="color:silver;" *ngIf="item.result==false">
                          ans: {{item.num1}} <span *ngIf="item.op==='/';else checksymboldiv;">&#247;</span> {{item.num2 }} = {{item.solution}}
                        </div>
                      </div>
                      <ng-template #symbol>{{item.op}}</ng-template>
                    </div>
                  </div>
                </div>
              </font>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4 ">
      <div class="row " *ngIf="total!=0 ">
        <div class="col-md-12 ">
          <div class="panel panel-primary ">
            <div style="text-align:left; " class="totals panel panel-heading ">
              Results:
            </div>
            <div class="panel panel-body ">
              <p>
                <font size="4"><strong>Total:</strong> {{ score }} correct out of {{ total }}</font>
              </p>
              <hr>
              <p *ngIf="addtotal>0">
                <font size="4"><strong>Addition:</strong> {{ addscore }} correct out of {{ addtotal }}</font>
              </p>
              <p *ngIf="subtotal>0">
                <font size="4"><strong>Subtraction:</strong> {{ subscore }} correct out of {{ subtotal }}</font>
              </p>
              <p *ngIf="multtotal>0">
                <font size="4"><strong>Multiplication:</strong> {{ multscore }} correct out of {{ multtotal }}</font>
              </p>
              <p *ngIf="divtotal>0">
                <font size="4"><strong>Division:</strong> {{ divscore }} correct out of {{ divtotal }}</font>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4" *ngIf="total!=0">
      <div class="row panel panel-primary">
        <div class=" col-md-12 panel panel-heading">
          Graph:
        </div>
        <div class="col-md-12 panel panel-body">
          <!-- <app-d3graph [reviews]="books.bookReviews">Loading graph</app-d3graph>-->
          <app-d3graph [data]="values">Loading graph</app-d3graph>
        </div>
        <div class="col-md-12">
          <p *ngFor="let item of values">name: {{item.name}} value: {{item.yVal}}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row" style="margin-top:100px;">
    <div class="col-md-4">
      <div class="row panel panel-warning">
        <div class=" col-md-12 panel panel-heading">
          <h3>To do:</h3>
        </div>
        <div class="col-md-12 panel panel-body">
          <ol>
            <li>Create pdf of stats at any time</li>
            <li>Email stats to several email addresses</li>
            <li>D3 graph of results by operator see <a href="https://youtu.be/x296y5mErWI">here</a></li>
            <li><a href="https://stackoverflow.com/questions/35232731/angular2-scroll-to-bottom-chat-style">autofocus</a> to input box
            </li>
            <li><a href="https://stackoverflow.com/questions/35232731/angular2-scroll-to-bottom-chat-style">autoscroll</a> to bottom of "Your answers:" div</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>
